:root {
    --bg: #FBFBFE;
    --primary: #1DAADA;
    --secondary: #006F9B;
    --accent: #00B64C;

    @media (prefers-contrast) and (not (forced-colors)) { /* colour scheme for people with contrast mode on & forced colours off */
        --bg: #FFFFFF
        --primary: #1DAADA;
        --secondary: #0836A2; 
        --accent: #03d85c;
    }

    @media (prefers-color-scheme: dark) {
        --bg: #141414;
        --primary: #1DB1E2;
        --secondary: #0087BD;
        --accent: #00B64C;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, 
body {
  height: 100%; /* Ensure html and body take full viewport height/width */
  width: 100%;
}


body {
  background-color: #FBFBFE;
  background-image: url("root/static/images/wave-haikei.png");
  color: #020113;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 1rem;
    box-shadow: 0 0 10px 0 black;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: var(--secondary);
}

.nav-item {
    margin: 0 1rem;
}


#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-bar-input {
    padding: 1rem;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: #f0f0f0;
}
/* #search-bar-input:focus {
} */

#search-bar-btn {
    display: flex;
    padding: 7px; /*makes button same height as search-bar-input*/ 
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: var(--primary);
    transition: 0.5s;
    cursor: pointer;
}
#search-bar-btn:hover {
    background-color: var(--secondary);
}

#search-bar-btn img {
    height: 16px;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
}

#welcome-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
}
#welcome-msg h1 {
    color: var(--secondary);
    margin: 0.25rem 0;
}

#welcome-msg-btn-container {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0;
}

#welcome-msg button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin: 0.25rem 0;
    background-color: var(--primary);
    transition: 0.2s;
    cursor: pointer;
}
#welcome-msg button:hover {
    background-color: var(--secondary);
}
#welcome-msg button a {
    color: white;
}

#home-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem auto;
}

.home-options-btn {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem 0;
    background-color: var(--primary);
    transition: 0.5s;
    cursor: pointer;
}
.home-options-btn a {
    color: white;
}
.home-options-btn:hover {
    background-color: var(--secondary);
}

.course-image {
    height: 100px;
}
