
:root {
    --bg: #FBFBFE;
    --primary: #25487D;
    --secondary: #006F9B;
    --accent: #00B64C;

    @media (prefers-contrast) and (not (forced-colors)) { /* colour scheme for people with contrast mode on & forced colours off */
        --bg: #FFFFFF;
        --primary: #25487D;
        --secondary: #0836A2; 
        --accent: #03d85c;
    }

    @media (prefers-color-scheme: dark) {
        --bg: #141414;
        --primary: #25487D;
        --secondary: #0087BD;
        --accent: #00B64C;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, 
body {
  height: 100%; /* Ensure html and body take full viewport height/width */
  width: 100%;
}


body {
  background-color: #FBFBFE;
  background-image: url("root/static/images/wave-haikei.png");
  color: #020113;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 1rem;
    box-shadow: 0 0 10px 0 black;
    background-color: #25487D;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: var(--secondary);
}

.nav-item {
    margin: 0 1.4rem;
    color: white;
    font-weight: bold;
    font-size: larger;
}


.navcontainer { 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    box-shadow: 0 0 10px rgba(103, 224, 21, 0.45); /* Add drop shadow */
} 



#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-bar-input {
    padding: 1rem;
    padding-right: 20rem;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: #f0f0f0;
}
/* #search-bar-input:focus {
} */

#search-bar-btn {
    display: flex;
    padding: 7px; /*makes button same height as search-bar-input*/ 
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: var(--primary);
    transition: 0.5s;
    cursor: pointer;
}
#search-bar-btn:hover {
    background-color: var(--secondary);
}

#search-bar-btn img {
    height: 16px;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
}

#welcome-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
}
#welcome-msg h1 {
    color: var(--secondary);
    margin: 0.25rem 0;
}

#welcome-msg-btn-container {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0;
}

#welcome-msg button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin: 0.25rem 0;
    background-color: var(--primary);
    transition: 0.2s;
    cursor: pointer;
}
#welcome-msg button:hover {
    background-color: var(--secondary);
}
#welcome-msg button a {
    color: white;
}

h1 {
    color: white;
    font-family: ui-monospace;
}
#home-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem auto;
}

.home-options-btn {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem 0;
    background-color: var(--primary);
    transition: 0.5s;
    cursor: pointer;
}
.home-options-btn a {
    color: white;
}
.home-options-btn:hover {
    background-color: var(--secondary);
}

.LoginContent {
    display: flex;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 600px;
    border-radius: 100px;
    border-width: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-color: #0087BD;
    filter: drop-shadow(0px 0px 10px var(--secondary)); /* Add backdrop using drop-shadow */
}
.LoginForm {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 400px;
    border-radius: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


#courses-wrapper {
    position: relative;
    display: flex;
    gap: 1.5rem;
    margin: 2rem;
}

.course-item {
    height: 22rem;
    width: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    background: #efeff3;
    cursor: pointer;
    transition: 0.25s;
}

.course-item a {
    color: black;
}

.course-item:hover {
    scale: 1.1;
    box-shadow: 0 0 10px black;
}

.course-image {
    height: 144px;
    width: 256px;
    border-radius: 10px 10px 0 0 ;
    box-shadow: 0 0 10px black;
}

.course-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}

.join-course-button, .leave-course-button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: var(--secondary);
    color: white;
    transition: 0.2s;
}

.join-course-button:hover, .leave-course-button:hover {
    background: var(--primary);
}

footer {
    display: flex; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: var(--primary);
    height: 4rem;

}
footer a {
    color: white;
}

footer li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2rem;
    width: 100%;
    
}

footer li a {
    color: white;
    font-size: xx-large;
    cursor: pointer;

}

footer li a:hover {
    text-decoration: underline;
}