<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/password-check.js') }}" defer></script>
    <title>Create User</title>

</head>
<body>

    <header>
        <a href="{{ url_for('home') }}"><h1>Bloom Academia</h1></a>
        <nav>

            <form id="search-bar" class="nav-item" method="POST" action="{{ url_for('search_course') }}"> <!-- send form data to python to check if input exists in db -->
                <input id="search-bar-input" type="text" name="search-bar-input" placeholder="Search for a course..."> <!-- search query -->
                <button id="search-bar-btn" type="submit" name="search-bar-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 32 32" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search" id="Search--Streamline-Feather" height="32" width="32"><desc>Search Streamline Icon: https://streamlinehq.com</desc><path d="M3.59375 13.177083333333336a9.583333333333334 9.583333333333334 0 1 0 19.166666666666668 0 9.583333333333334 9.583333333333334 0 1 0 -19.166666666666668 0" stroke-width="2"></path><path d="m25.15625 25.15625 -5.2109375 -5.2109375" stroke-width="2"></path></svg></button> <!-- press to search -->
            </form>

            <a class="nav-item" href="{{ url_for('profile') }}">In Progress</a>
            <a class="nav-item" href="{{ url_for('list_courses') }}">Courses</a>
            {% if name %}
                <a class="nav-item" href="{{ url_for('profile') }}">Account</a>
            {% else %}
                <a class="nav-item" href="{{ 'login' }}">Login</a>
            {% endif %}

        </nav>
    </header>

    <div class="container-d">
    <form class="Register-content" id="signup-form" action="{{ url_for('register') }}" method="post" onsubmit="return validateForm()">
        <p id="create-user-error-msg"></p>
        <h2 style="text-align: center; color: white;">Register</h2>
        <label for="email" class="email-label">Email</label>
        <input style="width: 350px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);" id="email" name="email" maxlength="320" required>

        <label for="password" class="password-label">Password</label>
        <input style="width: 350px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);" type="password" id="password" name="password" required>
        
        <label for="name" class="password-label">Name</label>
        <input style="width: 350px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);" type="text" id="name" name="name" maxlength="35" required>
        <button class="home-options-btn" style="color: white;" type="submit">Register</button>
    </form>
</div>
</body>
</html>
