<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/courses.css') }}">
</head>
<body>
    <h1>Available Courses</h1>
    <ul class="course-list">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        {% for course in courses %}
            <li class="course-item">
                {% if course[2] %}
                    <img src="data:image/jpeg;base64,{{ course[2] }}" alt="{{ course[0] }}" class="course-image"/>
                {% endif %}
                <div class="course-info">
                    <h2 class="course-title">{{ course[0] }}</h2>
                    <p class="course-description">{{ course[1] }}</p>
                    <form action="{{ url_for('join_course', course_id=course[3]) }}" method="post">
                        <button type="submit" class="join-course-button">Join Course</button>
                    </form>
                    <form action="{{ url_for('leave_course', course_id=course[3]) }}" method="post">
                        <button type="submit" class="leave-course-button">Leave Course</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>