<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Course</title>
</head>
<body>
    <h2>Upload a Course</h2>
    <form action="{{ url_for('create_course') }}" method="post" enctype="multipart/form-data"> 
        <label for="course-title">Course Title:</label>
        <input id="course-title" type="text" name="course-title"><br><br>

        <label for="course-description">Course Description:</label>
        <input id="course-description" type="text" name="course-description"><br><br>

        <label for="course-img">Course Image:</label>
        <input id="course-img" type="file" name="course-img" accept="image/*"><br><br>

        <button type="submit">Upload Course</button>
    </form>
</body>
</html>
