<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Create New User</h2>

    <form method="POST" action="{{ url_for('create_user') }}">
        <p id="create-user-error-msg"></p>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <button type="submit">Create User</button>
    </form>
</body>
</html>
