<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}"><h1>Bloom Academia</h1></a>
        <nav>

            <form id="search-bar" class="nav-item" method="POST" action="{{ url_for('search_course') }}"> <!-- send form data to python to check if input exists in db -->
                <input id="search-bar-input" type="text" name="search-bar-input" placeholder="Search for a course..."> <!-- search query -->
                <button id="search-bar-btn" type="submit" name="search-bar-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 32 32" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search" id="Search--Streamline-Feather" height="32" width="32"><desc>Search Streamline Icon: https://streamlinehq.com</desc><path d="M3.59375 13.177083333333336a9.583333333333334 9.583333333333334 0 1 0 19.166666666666668 0 9.583333333333334 9.583333333333334 0 1 0 -19.166666666666668 0" stroke-width="2"></path><path d="m25.15625 25.15625 -5.2109375 -5.2109375" stroke-width="2"></path></svg></button> <!-- press to search -->
            </form>

            <a class="nav-item" href="{{ url_for('profile') }}">In Progress</a>
            <a class="nav-item" href="{{ url_for('list_courses') }}">Courses</a>
            {% if name %}
                <a class="nav-item" href="{{ url_for('profile') }}">Account</a>
            {% else %}
                <a class="nav-item" href="{{ 'login' }}">Login</a>
            {% endif %}

        </nav>
    </header>

    <div id="main-wrapper">
        <div id="welcome-msg">
            <a href="{{ url_for('home') }}"><h1>Welcome to Bloom Academia</h1></a>

            {% if name %}
                <p>Welcome, {{ name }}!</p>
            {% endif %}
            <div id="welcome-msg-btn-container">
                {% if name %}
                    <button><a href="{{ url_for('logout') }}">Logout</a></button>
                {% else %}
                    <p>Please <button><a href="{{ url_for('login') }}">Login</a></button> to continue.</p>
                {% endif %}

                {% if session.get('role') == 3 %}
                    <button><a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a></button>
                {% endif %}
                
                <button><a href="{{ url_for('list_courses') }}">View Courses</a></button>
            </div> <!-- end of #welcome-msg-btn-container -->
        </div> <!-- end of #welcome-msg -->

        <div id="home-options">
            <button class="home-options-btn"><a href="{{ url_for('register') }}">Register</a></button>
            <button class="home-options-btn"><a href="{{ url_for('search_user') }}">Search User</a></button>
            <button class="home-options-btn"><a href="{{ url_for('create_course') }}">Create Course</a></button>
            <button class="home-options-btn"><a href="{{ url_for('list_courses') }}">View Courses</a></button>
        </div> <!-- end of #home-options -->

        <footer>
            <li>
                <a href="{{ url_for('profile') }}" >Account</a>
                <a href="{{ url_for('home') }}" >About Us</a>
                <a href="{{ url_for('home') }}" >Become an Author</a>
            </li>
        </footer>

    </div> <!-- end of #main-wrapper -->
    

</body>
</html>