<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Change Role</title>
    </head>
    <body>
      <header>
        <a href="{{ url_for('home') }}"><h1>Bloom Academia</h1></a>
        <nav>
            <form id="search-bar" class="nav-item" method="POST" action="{{ url_for('search_course') }}">
                <input id="search-bar-input" class="text-black" type="text" name="search-bar-input" placeholder="Search for a course...">
                <button id="search-bar-btn" type="submit" name="search-bar-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 32 32" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search" id="Search--Streamline-Feather" height="32" width="32">
                        <desc>Search Streamline Icon: https://streamlinehq.com</desc>
                        <path d="M3.59375 13.177083333333336a9.583333333333334 9.583333333333334 0 1 0 19.166666666666668 0 9.583333333333334 9.583333333333334 0 1 0 -19.166666666666668 0" stroke-width="2"></path>
                        <path d="m25.15625 25.15625 -5.2109375 -5.2109375" stroke-width="2"></path>
                    </svg>
                </button>
            </form>
            <a class="nav-item" href="{{ url_for('profile') }}">In Progress</a>
            <a class="nav-item" href="{{ url_for('list_courses') }}">Courses</a>
            {% if name %}
                <a class="nav-item" href="{{ url_for('profile') }}">Account</a>
            {% else %}
                <a class="nav-item" href="{{ 'login' }}">Login</a>
            {% endif %}
        </nav>
    </header>
        <div class="flex items-center justify-center min-h-screen bg-background text-primary-foreground">
            <form class="max-w-md w-full bg-card shadow-lg rounded-lg overflow-hidden" action="{{url_for('change_role', uid=uid)}}" method="POST">
              <div class="px-6 py-4">
                <input type="hidden" name="uid" value="{{ uid }}">
                <div class="font-bold text-lg mb-2">Change User Role</div>
                <div class="mb-4">
                  <label for="role" class="block text-sm font-medium text-secondary-foreground">Select Role</label>
                  <select id="role" name="role" class="mt-1 block w-full py-2 px-3 border border-input bg-input text-primary rounded-md focus:outline-none focus:ring focus:ring-primary">
                    <option value="User">User</option>
                    <option value="Author">Author</option>
                    <option value="Admin">Admin</option>
                  </select>
                </div>
                <button type="submit" class="w-full bg-neutral-700 hover:bg-neutral-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-primary">Change Role</button>
              </div>
            </form>
          </div>

          <footer>
            <li id="footer-l1" class="footer-item">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">About Us</a>
                <a href="{{ url_for('register') }}">Sign Up</a>
                <a href="{{ url_for('login') }}">Login</a>
            </li>
            <li id="footer-l2" class="footer-item">
                <a href="#">View All Courses</a>
                <a href="{{ url_for('create_course') }}">Create a Course</a>
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('profile') }}">My Courses</a>
            </li>
            <li id="footer-l4" class="footer-item">
                <button id="tos-btn" onclick="showTOS()">Terms of Service</button>
            </li>
        </footer>

    </body>
</html>