<!DOCTYPE html>
<html>
<head>
    <title>Manage Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}"><h1>Bloom Academia</h1></a>
        <nav>

            <form id="search-bar" class="nav-item" method="POST" action="{{ url_for('search_course') }}"> <!-- send form data to python to check if input exists in db -->
                <input id="search-bar-input" type="text" name="search-bar-input" placeholder="Search for a course..."> <!-- search query -->
                <button id="search-bar-btn" type="submit" name="search-bar-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 32 32" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search" id="Search--Streamline-Feather" height="32" width="32"><desc>Search Streamline Icon: https://streamlinehq.com</desc><path d="M3.59375 13.177083333333336a9.583333333333334 9.583333333333334 0 1 0 19.166666666666668 0 9.583333333333334 9.583333333333334 0 1 0 -19.166666666666668 0" stroke-width="2"></path><path d="m25.15625 25.15625 -5.2109375 -5.2109375" stroke-width="2"></path></svg></button> <!-- press to search -->
            </form>

            <a class="nav-item" href="{{ url_for('profile') }}">In Progress</a>
            <a class="nav-item" href="{{ url_for('list_courses') }}">Courses</a>
            {% if name %}
                <a class="nav-item" href="{{ url_for('profile') }}">Account</a>
            {% else %}
                <a class="nav-item" href="{{ url_for('login') }}">Login</a>
            {% endif %}

        </nav>
    </header>
    <div class="bg-gray-100 text-gray-800 min-h-screen p-8">
        <div class="max-w-3xl mx-auto">
            <h1 class="text-3xl font-bold mb-4 text-blue-500">Welcome, {{ name }}</h1>
            <h2 class="text-2xl font-semibold mb-4">User List</h2>

            {% for user in users %} 
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 flex items-center">
                <div class="flex-grow mr-4">
                    <p class="text-lg font-semibold">{{ user[1] }} ( <span class="{% if user[4] == 'Admin' %}
                        role-admin
                    {% elif user[4] == 'User' %}
                        role-user
                    {% elif user[4] == 'Author' %}
                        role-author
                    {% endif %} font-bold">{{ role_map.get(user[4], 'Unknown') }}</span> )</p>
                    <p class="text-sm text-gray-500">{{ user[2] }}</p>
                    <p class="text-sm text--400 font-extrabold">{{ user[0] }}</p>
                </div>
                <div>
                    <a href="{{ url_for('change_role', uid=user[0]) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
                    <a href="{{ url_for('delete_user', uid=user[0]) }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2">Delete</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</body>
</html>
